<h1>Admin Dashboard</h1>

<% if @tool_links.any? %>
  <ul>
    <% @tool_links.each do |name, path| %>
      <li><%= link_to name, path %></li>
    <% end %>
  </ul>
<% else %>
  <p>No admin tools are currently available.</p>
<% end %>
